<!DOCTYPE html>
<!-- saved from url=(0036)https://themelamp.com/html/learnedu/ -->
<html class="no-js" lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Holy Rosary Girls Secondary School Umuahia">
    <meta name="description" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Holy Rosary Girls Secondary School Umuahia</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/Content/Assets/img/LOGOS.png" />
    <!-- Web Font -->
    <link href="~/Content/Assets/css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="~/Content/Assets/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome CSS -->
    <link href="~/Content/Assets/font-awesome.min.css" rel="stylesheet" />
    <!-- Fancy Box CSS -->
    <link href="~/Content/Assets/jquery.fancybox.min.css" rel="stylesheet" />
    <!-- Owl Carousel CSS -->
    <link href="~/Content/Assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Assets/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Animate CSS -->
    <link href="~/Content/Assets/animate.min.css" rel="stylesheet" />
    <!-- Slick Nav CSS -->
    <link href="~/Content/Assets/slicknav.min.css" rel="stylesheet" />
    <!-- Magnific Popup -->
    <link href="~/Content/Assets/magnific-popup.css" rel="stylesheet" />

    <!-- Learedu Stylesheet -->
    <link href="~/Content/Assets/normalize.css" rel="stylesheet" />
    <link href="~/Content/Assets/style.css" rel="stylesheet" />
    <link href="~/Content/Assets/responsive.css" rel="stylesheet" />

    <!-- Learedu Color -->
    <link href="~/Content/Assets/color1.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="css/color/color2.css">-->
    <!--<link rel="stylesheet" href="css/color/color3.css">-->
    <!--<link rel="stylesheet" href="css/color/color4.css">-->
    <!--<link rel="stylesheet" href="css/color/color5.css">-->
    <!--<link rel="stylesheet" href="css/color/color6.css">-->
    <!--<link rel="stylesheet" href="css/color/color7.css">-->
    <!--<link rel="stylesheet" href="css/color/color8.css">-->
    <link rel="stylesheet" href="~/Content/Assets/color4.css" id="colors">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <!-- Contact -->
                        <ul class="content">
                            <li><i class="fa fa-phone"></i>+234-7069146103</li>
                            <li><a href="mailto:hrssu@gmail.com"><i class="fa fa-envelope-o"></i>hrssu@gmail.com</a></li>
                            <li><i class="fa fa-clock-o"></i>Opening: 07:00am - 4:00pm</li>
                        </ul>
                        <!-- End Contact -->
                    </div>
                    <div class="col-lg-4 col-12">
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus "></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="logo">
                            <a href="#"><img src="~/Content/Assets/img/HOLY.png" alt="#"></a>
                        </div>

                        <div class="mobile-menu"></div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-12">
                        <!-- Header Widget -->
                        @*<div class="header-widget">
                            <div class="single-widget">
                                <i class="fa fa-phone"></i>
                                <h4>Call Now<span>+234-80-55611123</span></h4>
                            </div>*@
                        @*<div class="single-widget">
                                <i class="fa fa-envelope-o"></i>
                                <h4>Send Message<a href="mailto:hrssu@gmail.com"><span>hrssu@gmail.com</span></a></h4>
                            </div>*@
                        @*<div class="single-widget">
                                <i class="fa fa-map-marker"></i>
                                <h4>Our Location<span>Holy Rosary Secondary School Umuahia</span></h4>
                            </div>*@
                        <div class="single-widget">
                            <a href="http://hrssu.com/Admission/Admission" class="btn"><img src="~/Content/Assets/img/holyfees.jpeg" class="center" /></a>
                        </div>

                    </div>
                    <!--/ End Header Widget -->
                </div>
            </div>
        </div>
        </div>
        <!--/ End Header Inner -->
        <!-- Header Menu -->
        <div class="header-menu">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-default">
                            <div class="navbar-collapse">
                                <!-- Main Menu -->
                                <ul id="nav" class="nav menu navbar-nav">
                                    <li class="active">
                                        <a href="@Url.Action("Index", "Home")">Home</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("About", "Home")">About Us</a>

                                    </li>
                                    <li>
                                        <a href="@Url.Action("Gallery", "Home")">Gallery</a>

                                    </li>
                                    <li>
                                        <a href="http://hrssu.com">Portal</a>

                                    </li>
                                    <li>
                                        <a href="http://hrssu.com/Studentspage/Result/">Check Result</a>

                                    </li>
                                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                </ul>
                                <!-- End Main Menu -->
                                <!-- button -->
                                @*<a href="http://hrssu.com/Admission/Admission" class="btn"><img src="~/Content/Assets/img/holyfees.jpeg" /></a>*@



                                <div class="button">
                                    <a href="http://hrssu.com/Admission/Admission" class="btn"><i class="fa fa-pencil"></i>New Student</a>
                                </div>
                                <!--/ End Button -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Menu -->
    </header>
    <!-- End Header -->
    @RenderBody()
    <!-- Footer -->
    <footer class="footer overlay section">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- About -->
                        <div class="single-widget about">
                            <div class="logo"><a href="#"><img src="~/Content/Assets/img/logo.png" alt="#"></a></div>
                            <p>Holy Rosary Secondary School Umuahia is the best for every girl child</p>
                            <ul class="list">
                                <li><i class="fa fa-phone"></i>Phone: +234-80-34200519 </li>
                                <li><i class="fa fa-envelope"></i>Email: <a href="mailto:hrssu@gmail.com">hrssu@gmail.com</a></li>
                                <li><i class="fa fa-map-o"></i>Holy Rosary Secondary School Umuahia</li>
                            </ul>
                        </div>
                        <!--/ End About -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Useful Links -->
                        <div class="single-widget useful-links">
                            <h2>Useful Links</h2>
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-angle-right"></i>Home</a></li>
                                <li><a href="@Url.Action("About", "Home")"><i class="fa fa-angle-right"></i>About Us</a></li>
                                <li><a href="http://hrssu.com/Admission/Admission/"><i class="fa fa-angle-right"></i>New Student</a></li>
                                <li><a href="@Url.Action("Contact", "Home")"><i class="fa fa-angle-right"></i>Contact Us</a></li>
                                <li><a href="http://hrssu.com"><i class="fa fa-angle-right"></i>Portal</a></li>
                                <li><a href="http://hrssu.com/Studentspage/Result"><i class="fa fa-angle-right"></i>Check Result</a></li>
                            </ul>
                        </div>
                        <!--/ End Useful Links -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Latest News -->
                        <div class="single-widget latest-news">
                            <h2>Latest Posts</h2>
                            <div class="news-inner">
                                @*@Html.Action("_NewsFotter", "Home")*@
                            </div>
                        </div>
                        <!--/ End Latest News -->
                    </div>

                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bottom-head">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Social -->
                                    <ul class="social">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                    <!-- End Social -->
                                    <!-- Copyright -->
                                    <div class="copyright">
                                        <p>© Copyright 2021 <a href="http://exwhyzee.ng">Exwhyzee Technologies</a>. All Rights Reserved</p>
                                    </div>
                                    <!--/ End Copyright -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Bottom -->
    </footer>
    <!--/ End Footer -->
    <!-- Jquery JS-->
    <script src="~/Content/Assets/jquery.min.js"></script>
    <script src="~/Content/Assets/jquery-migrate.min.js"></script>
    <!-- Popper JS-->
    <script src="~/Content/Assets/popper.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Content/Assets/bootstrap.min.js"></script>
    <!-- Colors JS-->
    <script src="~/Content/Assets/colors.js"></script>
    <!-- Jquery Steller JS -->
    <script src="~/Content/Assets/jquery.stellar.min.js"></script>
    <!-- Particle JS -->
    <script src="~/Content/Assets/particles.min.js"></script>
    <!-- Fancy Box JS-->
    <script src="~/Content/Assets/facnybox.min.js"></script>
    <!-- Magnific Popup JS-->
    <script src="~/Content/Assets/jquery.magnific-popup.min.js"></script>
    <!-- Masonry JS-->
    <script src="~/Content/Assets/masonry.pkgd.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="~/Content/Assets/circle-progress.min.js"></script>
    <!-- Owl Carousel JS-->
    <script src="~/Content/Assets/owl.carousel.min.js"></script>
    <!-- Waypoints JS-->
    <script src="~/Content/Assets/waypoints.min.js"></script>
    <!-- Slick Nav JS-->
    <script src="~/Content/Assets/slicknav.min.js"></script>
    <!-- Counter Up JS -->
    <script src="~/Content/Assets/jquery.counterup.min.js"></script>
    <!-- Easing JS-->
    <script src="~/Content/Assets/easing.min.js"></script>
    <!-- Wow Min JS-->
    <script src="~/Content/Assets/wow.min.js"></script>
    <!-- Scroll Up JS-->
    <script src="~/Content/Assets/jquery.scrollUp.min.js"></script>
    <!-- Google Maps JS -->
    <script src="~/Content/Assets/js"></script>
    <script src="~/Content/Assets/gmaps.min.js"></script>
    <!-- Main JS-->
    <script src="~/Content/Assets/main.js"></script>

    <a id="scrollUp" href="https://themelamp.com/html/learnedu/#top" style="position: fixed; z-index: 2147483647; display: none;"><i class="fa fa-angle-up"></i></a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
